* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(194, 228, 194);
}

#pannel {
    width: 80%;
    height: 90%;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

#ptop {
    padding: 0px 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(54, 93, 54);
}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2 {
    font-weight: 500;
    font-size: 22px;
}

.box {
    color: rgb(27, 75, 18);
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;

}

#pbtm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    animation: alternate-reverse;
    height: calc(100% - 100px);

}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(66, 120, 66);

    border-radius: 50%;
    color: #fff;
}

.bubble:hover {
    cursor: pointer;
    background-color: rgb(169, 126, 127);
}